<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinner.sarahgardiner.whatsfordinner"
    android:installLocation="auto"
    android:versionCode="10"
    android:versionName="10.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.SplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.loginpage" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.adminMenu" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.BrowseRecipesPage" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.GroceryListPage" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.MyWeekPage" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.SearchPage" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.CreateRecipePage" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.AddIngredientPage" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.UserMenu" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.Ingredient" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.ViewRecipePage" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.ViewRecipeWeekPage" />
        <activity android:name="com.dinner.sarahgardiner.whatsfordinner.SearchResultsPage"></activity>
    </application>

</manifest>